.border-box {
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all 0.7s ease-in-out !important;
}

.border-box::before,
.border-box::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #0e8de8;
    opacity: 0;
    transition: all 0.5s ease;
}

.border-box::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.border-box::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.border-box:hover::before,
.border-box:hover::after {
    opacity: 1;
    width: 30px;
    height: 30px;
}
.border-box:hover{
    transform: scale(1.05);
}

.text-aris{
    color: #D10D58 !important;
}
.arrow-icon {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.btn:hover .arrow-icon {
    visibility: visible;
    opacity: 1;
}
.mt--4{
    margin-top: -3.6rem !important;
}
.text {
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.bg-change {
    position: relative;
    overflow: hidden;
    scale: 1.0;
    transition: all 0.5s ease-in-out!important;
}
.bg-change:hover{
    scale: 1.02;
}
.bg-change::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #404d66, #6e1d58);
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease-in-out !important;
}
.bg-change:hover h3{
    color: white !important;
}
.bg-change:hover::before {
    opacity: 1;
}

.bg-change h3,
.bg-change .btn {
    position: relative;
    z-index: 2;
}

.btnIcon {
    position: relative;
    overflow: hidden;
}

.btnIcon::after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1em;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.btnIcon:hover::after {
    opacity: 1;
}
.scale{
    transition: transform 0.5s ease-in-out !important;
}
.scale:hover{
    transform: scale(1.02)!important;
}
@keyframes dfIn {
    0% {
        opacity: 0;
        transform: translatex(50%);
    }
    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

.card-transition {
    animation: dfIn 0.8s ease-in-out forwards;
}

.opacity-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.custom-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
    list-style-type: none;
    padding: 0;
}

.custom-list li {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
}
