.ps-center{
    top: 7% !important;
    width: max-content;
    left:50% !important;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #D10D58, #0a0e59) !important;
}

.list {
    list-style: none;
    padding: 0;
}

.text-slate-500 {
    font-weight: bold;
    color: #6b7280;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-rows-3 {
    grid-template-rows: repeat(3, auto);
}

.gap-y-3 {
    row-gap: 0.75rem;
}
