.form-input {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.form-label {
    font-size: 0.85rem;
    color: gray;
    left: 0;
    letter-spacing: 0.055rem;
    font-weight: bold;
    margin-bottom: 0.25rem !important;
}

.input-field {
    border: none;
    /*border-bottom: 2px solid grey;*/
    padding: 5px;
    font-size: 1rem;
    outline: none;
}
.border-bottom-grey{
    border-bottom: 2px solid grey;
}
.border-bottom-invalid{
    border-bottom: 2px solid red;
}
.border-bottom-grey:focus {
    border-bottom: 2px solid black;
}
.input-field::placeholder {
    color: #072030;
    opacity: 1;
}
.custom-select-wrapper {
    position: relative;
    border-bottom: 2px solid grey;
    padding: 4px 0;
}
.custom-select {
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    color: #000;
}
.custom-select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #000;
}
.icon-danger{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    right: 5px;
}
.custom-select option {
    padding: 30px !important;
}
.textarea-field {
    border: none;
    border-bottom: 2px solid grey;
    padding: 5px;
    font-size: 1rem;
    outline: none;
    width: 100%;
}

.textarea-field:focus {
    border-bottom: 2px solid black;
}

.textarea-field::placeholder {
    color: #072030;
    opacity: 1;
}