@keyframes showArrow {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.arrow-div {
    animation: showArrow 1000ms ease-in-out ;
}

@keyframes showArrowLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.arrow-div-left {
    animation: showArrowLeft 700ms ease-in-out;
}

@keyframes showTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.showTop {
    animation: showTop 700ms ease-in-out;
}

@keyframes showTop-70 {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(-70px);
    }
}
.showTop-70 {
    animation: showTop-70 700ms ease-in-out;
}
.color-aris{
    color: #D10D58 !important;
}
.color-concept{
    color: #0e8de8 !important;
}

.bg-edit-2{
    background-color: #147d7d !important;
}

.pst-icon{
    bottom: 8% !important;
    right: 5px !important;
}

@keyframes rotation {
    0% {
        transform: translateY(-20px) rotate(-20deg) scale(0.8);
    }
    50%{
        transform: translateY(20px) rotate(20deg) scale(0.8);
    }
    100% {
        transform: translateY(0) rotate(0) scale(1);
    }
}
.rotate{
    animation: rotation 1200ms ease-in-out forwards;
}
.p-text{
    letter-spacing: 0.045rem;
}