@keyframes showArrow {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.arrow-div {
    animation: showArrow 700ms ease-in-out;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
        border-color: rgba(255, 255, 255, 1);
    }
    50% {
        opacity: 0.5;
        border-color: rgba(255, 255, 255, 0.5);
    }
}
.blinking-button {
    animation: blink 1s infinite;
    border-width: 2px;
    border-style: solid;
}

@keyframes showTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.showTop {
    animation: showTop 700ms ease-in-out;
}

.content-contribution:hover{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html:hover {
    scrollbar-width: thin;
}

html:hover::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: #99a4c4;
    border-radius: 3px;
}

html::-webkit-scrollbar-thumb {
    background: #21449e;
    border-radius: 10px;
}

html:hover::-webkit-scrollbar-thumb {
    background: #355368;
}

@keyframes blinkType {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.typing .cursor {
    display: inline-block;
    margin-left: 2px;
    width: 1px;
    background-color: black;
    animation: blinkType 1s step-end infinite;
}
