@keyframes showArrow {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.arrow-div {
    animation: showArrow 700ms ease-in-out;
}

@keyframes showArrowLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.arrow-div-left {
    animation: showArrowLeft 700ms ease-in-out;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
        border-color: rgba(255, 255, 255, 1);
    }
    50% {
        opacity: 0.5;
        border-color: rgba(255, 255, 255, 0.5);
    }
}
.blinking-button {
    animation: blink 1s infinite;
    border-width: 2px;
    border-style: solid;
}

@keyframes showTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.showTop {
    animation: showTop 700ms ease-in-out;
}

@keyframes showTop-70 {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(-70px);
    }
}
.showTop-70 {
    animation: showTop-70 700ms ease-in-out;
}

.content-contribution:hover{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}


@keyframes blinkType {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.typing .cursor {
    display: inline-block;
    margin-left: 2px;
    width: 1px;
    background-color: black;
    animation: blinkType 1s step-end infinite;
}
.flotant:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}
.color-aris{
    color: #D10D58 !important;
}
.color-concept{
    color: #0e8de8 !important;
}
.w-40{
    width: 40% !important;
}

.top-30 {
    top: 30% !important;
}
.top-40{
    top: 40% !important;
}
.top-20{
    top: 18% !important;
}
.top-10{
    top: 10% !important;
}
.top-5{
    top: 2px !important;
}
.fs-7{
    font-size: 0.8rem !important;
}
.carousel-control-next{
    z-index: 3 !important;
}
.carousel-control-prev{
    z-index: 3 !important;
}
.w-60{
    width: 60% !important;
}
.bg-edit-2{
    background-color: #147d7d !important;
}