.rounded-bottom-end{
    border-bottom-right-radius: 30px
}

.rounded-top-start{
    border-top-left-radius: 30px
}

.bg-red-gradient{
    background: linear-gradient(90deg, #8960e9 0%, #9394d5 100% ) !important;
}
.bg-footer{
    background: linear-gradient(90deg, rgba(0, 255, 217, 0.29) 0%, rgba(0, 255, 217, 0.4) 100% ) !important;
}
.bg-li{
    background-color: #0e0d10 !important;
}

.btn-active{
    border-bottom: 2px solid #C93061;
}
@keyframes showWe {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(50px);
    }
}
.showTopWe {
    animation: showWe 700ms ease-in-out;
}

@keyframes slideIn3D {
    0% {
        transform: skewX(90deg) translateX(-100%) scale(0.5);
        opacity: 0;
    }
    50% {
        transform: skewX(20deg) translateX(-10%) scale(1.1);
        opacity: 1;
    }
    100% {
        transform:  translateX(0) scale(1) skewX(0deg);
        opacity: 1;
    }
}
.slideIn3D {
    display: inline-block;
    animation: slideIn3D 1.5s ease forwards;
}