body {
    margin: 0;
    font-family: "Bell MT", serif !important;
    width: 100%;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p-6{
    padding-top: 5rem !important;
}
.logo-img{
    vertical-align: middle;
    border-style: none;
    height: 45px ;
    width: auto;
}
.bg-gradient-info {
    background: linear-gradient(87deg, #1171ef, #11cdef) !important;
}
.bg-gradient-info-dark {
    background: linear-gradient(90deg, #172b4d, #1171ef) !important;
}
.bg-gradient-red{
    background: linear-gradient(90deg, #f5365c 0%, #f5365c 50% ,#ea5471 100% ) !important;
}
.cursor-pointer{
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-2px)!important;
    transition: transform 0.2s ease-in-out;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(180%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.slideInFromLeft {
    animation: slideInFromLeft 0.7s ease-in;
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
.slideOutToRight {
    animation: slideOutToRight 0.7s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 2s ease-in;
}

@keyframes preAnimation {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.preAnimation {
    animation: preAnimation 1s ease-in;
}

.color-cyan{
    color: #00B0BE !important;
}

.bg-cyan{
    background-color: #00B0BE !important;
}
.bg-blue{
    background-color: #335999 !important;
}
.bg-mi-blue{
    background-color:  #1171ef !important;
}
.bg-dark-blue{
    background-color: #1a2b42 !important;
}
.bg-mi-dark-blue{
    background-color: #00073f !important;
}
.card {
    display: flex;
    flex-direction: column;
}
.list-inline-item:hover{
    background-color: rgba(250,250,250,0.6);
    transition: all 300ms ease-in;
}
.card-body {
    flex: 1;
}
.card-img-top{
    width: 100%;
    height: auto !important;
}
.arrow-shape {
    clip-path: polygon(0% 0%, 100% 50%, 90% 30%, 100% 50%, 90% 100%, 90% 100%, 0% 100%);
}
.dropdown-toggle::after {
    display: none !important;
}

html {
    scroll-behavior: smooth;
    transition: all 300ms ease-in-out;
}
.w-h-30{
    width: 40px;
    height: 40px;
}
.opacity-90{
    opacity: 0.85 !important;
}
.a-label{
    color: #34998d;
    text-decoration: none;
}
.text-label-color{
    color: #34998d;
}
.a-label:hover{
    background-color: #f2f4fa;
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}
.font-roboto{
    font-family: "Roboto slab", serif !important;
}
.font-consolas{
    font-family: "Consolas", sans-serif !important;
}
.bg-edit{
    background-color: #1A2135 !important;
}